@import url('https://fonts.googleapis.com/css?family=Poppins|Lato|Roboto+Mono&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  background: #f7fafc !important;
}

#header {
  transition: all 0.8s ease;
}

button:focus {
  box-shadow: none !important;
  outline: none !important;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
  transition: all 0.1s ease;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
  transition: all 0.1s ease;
}
.timeline-item-content {
  transition: all 0.5s ease;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  position: relative;
  width: 400px;
  max-width: 70%;
  text-align: right;
  transition: all 0.1s ease;
}

.timeline-item-content::after {
  content: ' ';
  background-color: #fff;
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
  transition: all 0.1s ease;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  text-align: left;
  align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  right: auto;
  left: -7.5px;
}

.timeline-item-content time {
  color: #777;
  font-size: 12px;
  font-weight: bold;
}

.timeline-item-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 250px;
  transition: all 0.1s ease;
}

.timeline-item-content a {
  font-size: 14px;
  font-weight: bold;
}

.timeline-item-content a::after {
  content: ' ►';
  font-size: 12px;
}

.timeline-item-content .circle {
  background-color: #fff;
  border: 3px solid #e17b77;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 9;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -40px;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
  transition: all 0.1s ease;
}

.timeline-container::after {
  background-color: #e17b77;
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

@media only screen and (max-width: 1023px) {
  .timeline-item-content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .timeline-item-content,
  .timeline-item:nth-child(odd) .timeline-item-content {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
  }

  .timeline-item-content .tag {
    width: calc(100% - 10px);
    text-align: center;
  }

  .timeline-item-content time {
    margin-top: 20px;
  }

  .timeline-item-content a {
    text-decoration: underline;
  }

  .timeline-item-content a::after {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .timeline-container::after {
    background-color: #e17b77;
    content: '';
    position: absolute;
    left: 10px;
    width: 4px;
    height: 100%;
  }

  .timeline-item:nth-child(odd) {
    align-self: flex-start;
    justify-content: flex-start;
    padding-left: 43px;
    padding-right: 0;
    width: 100%;
  }
  .timeline-item {
    align-self: flex-start;
    justify-content: flex-start;
    padding-left: 43px;
    padding-right: 0;
    width: 100%;
  }

  .timeline-item-content .circle {
    background-color: #fff;
    border: 3px solid #e17b77;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: auto;
    left: -40px;
    width: 20px;
    height: 20px;
    z-index: 9;
  }
  .timeline-item-content::after {
    content: ' ';
    background-color: #fff;
    position: absolute;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
    right: auto;
    left: -7.5px;
  }
}
